:root{
    --dark-blue: #0A3871;
    --dark-blue-400: #052051;
    --light-blue: #EFF1FA;
    --light-blue-500: #757FB2;
    --color-background: #E5E5E5;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    min-width: 325px;
    
}

/* Para todas las paginas */

.header{
    width: 95%;
    height: 15vh;
    display: flex;
    align-items: center;
}

.addWord{
    justify-content: space-between;
    margin-left: 1rem;
}

.alura-icon{
   margin-left: 5rem; 
}

/* Area de iniciar juego - index.html */

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 325px;
}

.main-container-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-width: 325px;
}

.main-new-word-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.new-word-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 60vh;
}

.button-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    gap: 2rem;
    
}

.border{
    border: 1px solid var(--dark-blue-400);
    border-radius: 8px;
}

.btn-begin-game{
    position: relative;
    font-size: 1.2rem;
    width: 15rem;
    letter-spacing: 3px;
    height: 3em;
    padding: 0 3em;
    border: none;
    background-color: var(--dark-blue);
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.label {
    font-family: 'Inter';
}

.btn-add-word{
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue-500);
    border-radius: 8px;
    width: 13rem;
    height: 2rem;
    cursor: pointer;
    color: var(--dark-blue-400);
    transition: 0.5s;
}

.juego-rapido{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    gap: 2rem;
    border: 1px solid var(--dark-blue-400);
    border-radius: 8px;
}

.btn-insert-word{
    width: 100%;
    height: 3rem;
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue-400);
    border-radius: 8px;
    cursor: pointer;
    color: var(--light-blue);
    font-family: 'Inter';
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.goToGame{
    width: 350px;
    height: 3rem;
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue-400);
    border-radius: 8px;
    cursor: pointer;
    color: var(--light-blue);
    font-family: 'Inter';
    font-size: 1.2rem;
    margin: 1rem auto;
}

/* Pantalla del juego */
.img-container{
    width: 30%;
    height: 45vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive{
    visibility: hidden;
}

.block-letter{
    background-color: #0A3871;
    cursor: not-allowed;
    pointer-events: none;
}

/* Partes del cuerpo del muñeco -game.html */
.general-container{
    margin: 15px 0;
}

.munheco{
    scale: 0.5;
    position: relative;    
}
.base{
    top: 90px;
    left: 195px;
}
.rama{
    bottom: 90px;
    right: 50px;
}
.cuerda{
    bottom: 80px;
    right: 97px;
}
.cabeza{
    bottom: 54px;
    right: 132px;
}
.cuerpo{
    right: 167px;
    bottom: 7px;
}
.brazo-derecho{
    right: 199px;
    bottom: 25px;
}
.brazo-izquierdo{
    right: 219px;
    bottom: 25px;
}
.pie-derecho{
    right: 276px;
    top: 41px;
}
.pie-izquierdo{
    right: 297px;
    top: 41px;
}


.input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem 0;
}

.input{
    font-family: Inter;
    font-size: 2rem;
    text-align: center;
    width: 2rem;
    border: 0;
    padding-top: 1rem;
    margin: 0;
    margin-left: 1rem;
    border-bottom: 2px solid var(--light-blue-500);
}

.input:focus{
    outline: none;
}

.letter-mistakes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
}

.letters{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    font-size: 1rem;
    color: var(--dark-blue-400);
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--dark-blue-400);
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}


.button-conatiner{
    display: flex;
    justify-content:center;
    margin: 1rem;
}

.btn-new-game{
    width: 150px;
    padding: 1rem;
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue-400);
    border-radius: 8px;
    color: var(--light-blue);
    margin-right: 1rem;
    font-family: Inter;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-new-game:focus{
    outline: none;
}

.btn-surrender{
    width: 150px;
    padding: 1rem;
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue-500);
    border-radius: 8px;
    color: var(--dark-blue);
    margin-right: 1rem;
    font-family: Inter;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Boton de ir atras a agregar palabras en pantalla de juego -------------------------------------------*/
.icon-btn {
width: 50px;
height: 50px;
border: 1px solid #cdcdcd;
background: white;
border-radius: 25px;
overflow: hidden;
position: relative;
transition: width 0.2s ease-in-out;
font-weight: 500;
font-family: inherit;
cursor: pointer;
}

.add-btn:hover {
width: 140px;
}

.add-btn::before,
.add-btn::after {
transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
content: "";
position: absolute;
height: 4px;
width: 10px;
top: calc(50% - 2px);
background: var(--dark-blue);
}

.add-btn::after {
right: 14px;
overflow: hidden;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
}

.add-btn::before {
left: 14px;
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
}

.icon-btn:focus {
outline: none;
}

.btn-txt {
opacity: 0;
transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
width: 4px;
border-radius: 2px;
}

.add-btn:hover .btn-txt {
opacity: 1;
}

.add-icon::after,
.add-icon::before {
transition: all 0.2s ease-in-out;
content: "";
position: absolute;
height: 20px;
width: 2px;
top: calc(50% - 10px);
background: var(--dark-blue);
overflow: hidden;
}

.add-icon::before {
left: 22px;
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
}

.add-icon::after {
right: 22px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
left: 15px;
height: 4px;
top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
right: 15px;
height: 4px;
top: calc(50% - 2px);
}

/* --------------------------------------Fin del boton-------------------------------------------------------- */

.input-new-word{
    width: 100%;
    font-family: Inter;
    font-size: 1.5rem;
    text-align: center;
    border: 0;
    padding-top: 1rem;
    margin: 0;
    margin-left: 1rem;
    border-bottom: 2px solid var(--light-blue-500);
}

.input-new-word:focus{
    outline: none;
}



/* Footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    color: var(--dark-blue-400);
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

.social_link{
    display: inline-block;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-size: 100%;
}

.social_link.facebook{
    background-image: url(./img/iconos/facebook.svg);
}

.social_link.linkedin{
    background-image: url(./img/iconos/linkedin.svg);
}

.social_link.instagram{
    background-image: url(./img/iconos/instagram.svg);
     
}

.social_link.github{
    background-image: url(./img/iconos/github.svg);
}

@media (max-width: 600px){
    .main-container-index{
        height: 70vh;
        width: 90%;
        margin: 0 auto;
    }

    .btn-begin-game, .btn-add-word{
        width: 100%;
    }
    .new-word-container{
        display: block;
        height: 100%;
        width: 90%;
        margin: 0 auto;

    }
    .input-new-word{
        width: 100%;
    }
    .border{
        margin-bottom: 0.5rem;
    }
    .main-container{
        width: 90%;
        margin: 0 auto;
    }
    .button-conatiner{
        display: block;
    }
    .btn-new-game{
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .btn-surrender{
        width: 100%;
    }
    .goToGame{
        width: 90%;
    }
}

@media (min-width: 601px){
    .letters:hover{
        background-color: #757FB2;
    }

    .btn-add-word:hover{
        transition: 0.5s;
        scale: 105%;
    }

    .btn-begin-game:hover{
        transition: 0.5s;
        scale: 105%;
    }

    .btn-begin-game::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 100%;
    background: var(--light-blue-500);
    background: linear-gradient(90deg, var(--dark-blue) 20%, var(--dark-blue-400) 100%);
    transition: 0.2s;
    }
    
    .btn-begin-game .label {
    position: relative;
    }
    
    .btn-begin-game .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 3em;
    position: absolute;
    top: 3em;
    right: 0;
    opacity: 0;
    transition: 0.4s;
    }
    
    .btn-begin-game:hover::before {
    height: 100%;
    }
    
    .btn-begin-game:hover .icon {
    top: 0;
    opacity: 1;
    }

    .btn-insert-word:hover {
        transition: 0.5s;
        scale: 105%;
    }
    .goToGame:hover{
        transition: 0.5s;
        scale: 105%;
    }

    .btn-new-game:hover{
        transition: 0.5s;
        scale: 105%;
    }
    .btn-surrender:hover{
        transition: 0.5s;
        scale: 105%;
    }
}